body{
    font-family: "Helvetica Neue", sans-serif !important; 
}
nav{
    background: linear-gradient(90deg, #FBBB91,  #F9568B);
    color: white !important;
}
nav a{
    color: white;
}
nav li a{
    color: rgba(255, 255, 255);
}
header{
    height: 100vh;
    padding: 200px 0px;
    background-color: white;
    padding-left: 6%;
}
header h1 {
    font-weight: 300;
}

section{
    padding: 150px 0px;
}